fastapi==0.115.0
uvicorn==0.30.6
firebase-admin==6.5.0
ezdxf
pydantic==2.8.2
python-multipart
httpx
xgboost==2.1.1
scikit-learn
joblib
chromadb==0.5.20
sentence-transformers==3.0.1
langchain
pypdf
langchain-community
openai>=1.0.0
python-dotenv
pandas
numpy
reportlab
pdfplumber
pytesseract
pdf2image
Pillow
networkx
PyMuPDF==1.27.2
onnxruntime==1.18.0
opencv-python-headless==4.9.0.80
numpy>=1.24.0
